production:
  session_secret: changeme
  database_logging: true
  git_binary: git
  # repodir: /tmp/repodir
  
  database_url: sqlite:///

  github_auth:
    client_id: foo
    client_secret: bar
    # or
    oauth_token: baz

development:
  session_secret: changeme
  database_logging: true
  git_binary: git
  # repodir: /tmp/repodir

  database_url: sqlite:///

  github_auth:
    client_id: foo
    client_secret: bar
    # or
    oauth_token: baz
